.authorsnav{
  width:50%;
  min-width: 450px;
  margin: 10px auto;
  border-radius: 12px;
  display :flex;
  justify-content: center;
  align-items: center;
}
.authorsul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
}