*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}
body{
  background-image: url(http://4.bp.blogspot.com/-gkcp_3X5_qI/Uh9VZ9On2-I/AAAAAAAAEKI/DMZMJh-CFPY/s1600/Background-Graphics-For-Websites1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}