.home{
  height: 70vh;
}
.homepage{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color:black;
}
@media screen and (max-width:530px) {
  .homepage{
    font-size: 6vw;
  }
}
