.articleheader{
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
}
.articlebody{
  padding:15px;
  width:60%;
  margin:15px auto;
  background-color: rgb(40, 40, 40);
  border-radius:12px;
  border: 1.8px solid white;
}
.articletimings{
  color:white;
  display: flex;
}
.articletimings p{
  margin:5px;
}
.articlecontent p{
  white-space: pre-line;
  margin:10px;
  text-align: left;
  color:white;
}
.comments{
  color:white;
  width:100%;
  background-color: rgb(75, 74, 74);
  border-radius: 12px;
  padding:12px;
}
.comments h2{
  padding: 5px;
}
.comment h3{
  display: flex;
  align-items: center;
  text-align: left;
}
.comment p{
  text-align: left;
  font-size: 18px;
  margin-left: 15px;
}
.edit{
  background-color: orange;
  padding-left:8px;
  
}
.delete{
  background-color: red;
}
.btn{
  border: 2px solid white;
  margin: 5px;
  font-size: 24px;
  padding:5px;
}
.editdeletebtn{
  display:flex;
}
@media screen and (max-width:750px){
  .articlebody{
    width:80%;
  }
}
@media screen and (max-width:570px){
  .articlebody{
    width: 95%;
  }
  .commentsinput{
    width:90%;
  }
  .btn{
    font-size: 4.2vw;
    padding:6px;
    border-radius: 8px;
  }
  .articletitle{
    font-size: 1.5em;
  }
}