.article{
  width:100%;
  color:white;
  padding: 8px;
  background-color: rgb(40, 40, 40);
  border-radius: 12px;
  border: 1.8px solid white;
  max-height: 170px;
  opacity: 95%;
}
.articlescontainer{
  display: grid;
  width:80%;
  margin:20px auto;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  min-height: 60vh;
}
.articleheading{
  font-size: 34px;
  font-weight: 800;
  background: -webkit-linear-gradient(left,rgba(102, 237, 24, 0.938),rgba(154, 236, 72, 0.911));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:7px;
}
.articleheadingdiv{
  background-color: rgb(31, 31, 31);
  width:235px;
  border-radius: 50px;
  border: 2px solid white;
  margin:20px auto;
  padding:8px;
}
.articletitle{
  background: -webkit-linear-gradient(left,rgb(72, 203, 247),rgb(0, 255, 221));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width:530px){
  .articleheading{
    font-size: 4.4vw;
  }
  .articleheadingdiv{
    width:37vw;
  }
}
