.addarticle{
  width:50%;
  margin:15px auto;
  border-radius: 12px;
  padding:10px;
  background-color: rgb(40, 40, 40);
  color:whitesmoke;
  min-width: 450px;
  opacity: 95%;
}
.addarticle div{
  text-align: left;
  margin:20px auto;
}
.addarticle label{
  text-align: left;
  display:inline;
  margin:5px 10px;
}
textarea{
  width:80%;
  border-radius: 8px;
  font-size: 18px;
  text-align: left;
}
.textarea {
  width:100%;
  display:flex;
  justify-content: center;
}
select{
  padding:5px;
  border-radius: 8px;
}
@media screen and (max-width:500px) {
  .addarticle{
    min-width:95%;
  }
  textarea{
    font-size: 15px;
  }
}
