.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 40, 40);
}
li{
  list-style-type: none;
}
ul{
  display: flex;
  justify-content: space-evenly;
  min-width:400px;
}
.nav-item{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
}
.active{
  font-size: 24px;
  text-decoration: underline;
}

.icon{
  font-size: 46px;
  font-weight: 900;
   background: -webkit-linear-gradient(left,rgb(214, 79, 255),rgb(33, 222, 255),rgb(222, 60, 255),rgb(39, 255, 118));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:9px 10px;
}